html {
  font-family: Inter, sans-serif;
  background-color: #1f1f1f;
}

body {
  background-color: #1f1f1f;
  margin: 0;
}

#root {
  height: 100vh;
  background-color: #1f1f1f;
}

.drag-region {
  -webkit-app-region: drag;
  display: flex;
  flex-flow: row-reverse;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  z-index: 1000;
  background-color: #1f1f1f;
}

.drag-region button {
  -webkit-app-region: no-drag;
  pointer-events: auto;
}

.editor-container {
  height: calc(100% - 40px);
  margin-top: 40px;
}

.bn-editor {
  padding: 36px 52px;
  min-height: 100%;
}
/* For mobile */
.floating-threads {
  display: none;
}
/* For desktop */
.anchored-threads {
  display: block;
  max-width: 300px;
  width: 100%;
  position: absolute;
  right: 12px;
}
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
*::-webkit-scrollbar-track {
  background: #1f1f1f;
}
*::-webkit-scrollbar-thumb {
  background: #2f2f2f;
  border-radius: 5px;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@media (max-width: 640px) {
  .floating-threads {
    display: block;
  }
  .anchored-threads {
    display: none;
  }
}

.editor {
  position: relative;
  height: 100%;
}
div:has(> .editor) {
  height: 100%;
}
.bn-container {
  margin-left: 0px;
  margin-right: 0px;
  max-width: 100%;
  width: 100%;
}
/* Hide username tooltip on collaboration cursors, keep caret visible */
.collaboration-cursor__label {
  display: none !important;
}

.collaboration-cursor__caret {
  margin-left: 1px !important;
}

.bn-container .bn-default-styles {
  font-size: 16px;
  font-weight: 450;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bn-container [class^="placeholder-selector-"] {
  padding-top: 0px !important;
  padding-left: 40px;
  padding-right: 40px;
}

.bn-mantine .bn-side-menu {
  --mantine-scale: 0.75;
}
