@import "tailwindcss";

html {
  font-family: Inter, sans-serif;
  background-color: #1f1f1f;
}

body {
  background-color: #1f1f1f;
  margin: 0;
}

#root {
  height: 100vh;
  background-color: #1f1f1f;
}

.drag-region {
  -webkit-app-region: drag;
  display: flex;
  flex-flow: row-reverse;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  z-index: 1000;
  background-color: #1f1f1f;
}

.drag-region button {
  -webkit-app-region: no-drag;
  pointer-events: auto;
}

.editor-container {
  height: calc(100% - 40px);
  margin-top: 40px;
}

.bn-editor {
  padding: 36px 52px;
  min-height: 100%;
}
/* For mobile */
.floating-threads {
  display: none;
}
/* For desktop */
.anchored-threads {
  display: block;
  max-width: 300px;
  width: 100%;
  position: absolute;
  right: 12px;
}
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
*::-webkit-scrollbar-track {
  background: #1f1f1f;
}
*::-webkit-scrollbar-thumb {
  background: #2f2f2f;
  border-radius: 5px;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@media (max-width: 640px) {
  .floating-threads {
    display: block;
  }
  .anchored-threads {
    display: none;
  }
}

.editor {
  position: relative;
  height: 100%;
}
div:has(> .editor) {
  height: 100%;
}
.bn-container {
  margin-left: 0px;
  margin-right: 0px;
  max-width: 100%;
  width: 100%;
}
/* Hide username tooltip on collaboration cursors, keep caret visible */
.collaboration-cursor__label {
  display: none !important;
}

.collaboration-cursor__caret {
  margin-left: 1px !important;
}

.bn-container .bn-default-styles {
  font-weight: 400;
  font-family: monospace;
}

.bn-container .bn-default-styles p,
code {
  font-size: 14px;
}

.bn-editor {
  padding-top: 0px !important;
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.bn-mantine .bn-side-menu {
  --mantine-scale: 0.75;
}

.bn-side-menu {
  height: 27px !important;
}

.bn-side-menu[data-block-type="heading"][data-level="1"] {
  height: 39.59px !important;
}

.bn-side-menu[data-block-type="heading"][data-level="2"] {
  height: 34.8px !important;
}

.bn-side-menu[data-block-type="heading"][data-level="3"] {
  height: 30px !important;
}

.bn-side-menu[data-block-type="heading"][data-level="4"] {
  height: 30px !important;
}

.bn-side-menu[data-block-type="heading"][data-level="5"] {
  height: 30px !important;
}

.bn-side-menu[data-block-type="heading"][data-level="6"] {
  height: 30px !important;
}

[data-content-type="heading"] {
  --level: 1.4em;
}

[data-content-type="heading"][data-level="2"] {
  --level: 1.2em;
}

[data-content-type="heading"][data-level="3"] {
  --level: 1em;
}

[data-content-type="heading"][data-level="4"] {
  --level: 1em;
}

[data-content-type="heading"][data-level="5"] {
  --level: 1em;
}

[data-content-type="heading"][data-level="6"] {
  --level: 1em;
}

[data-content-type="heading"] {
  font-size: var(--level);
}

.bn-block code {
  background-color: #2f2f2f;
  @apply text-red-400;
  padding: 2px 4px;
  border-radius: 4px;
}

.bn-block-content[data-content-type="codeBlock"] > pre {
  margin-top: 3px;
  margin-bottom: 3px;
}

.bn-block .bn-block-content pre code {
  background-color: inherit;
  color: inherit;
  padding: inherit;
  border-radius: inherit;
}

.bn-block-content[data-content-type="checkListItem"] > div > div > input {
  background-color: #2f2f2f00 !important;
}
