.editor {
  position: relative;
  height: 100%;
}
div:has(> .editor) {
  height: 100%;
}
.bn-container {
  margin-left: 0px;
  margin-right: 0px;
  max-width: 100%;
  width: 100%;
}

.drag-region {
  -webkit-app-region: drag;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 32px;
  z-index: 1000;
}