.editor {
  position: relative;
  height: 100%;
}
div:has(> .editor) {
  height: 100%;
}
.bn-container {
  margin-left: 0px;
  margin-right: 0px;
  max-width: 100%;
  width: 100%;
}
/* Hide username tooltip on collaboration cursors, keep caret visible */
.collaboration-cursor__label {
  display: none !important;
}

.collaboration-cursor__caret {
  margin-left: 1px !important;
}